<html>
  <head>
    <title>Pokemon Team</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="pokemon.js"></script>
    
  </head>
    <body ng-app="pokemonBattle" ng-controller="MainCtrl">
      <p> Here </p>
     
        
        <div class="page-header">
          <h1>News</h1>
      </div>
      <form ng-submit="addPokemon()" 
        style = "margin-top30px;">
        <h3>Add a new pokemon</h3>

        <select name="Pokemon" id="pokemonSelector" ng-model="pokemon">
          <option value="bulbasaur">Bulbasaur</option>
          <option value="charmander">Charmander</option>
          <option value="squirtle">Squirtle</option>
        </select>
        <button type="submit">Add Pokemon</button>
      </form>
      <div ng-repeat="post in posts">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        {{post.title}} - Name: {{post.pokemonName}}
        <br><br>
        <img src={{post.picture}}>
      </div>
   
  </body>
</html>
